In [1]:
import sqlite3
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
# Initialize SQLite database connection and cursor
conn = sqlite3.connect('carbon_footprint.db')
cursor = conn.cursor()

In [3]:
# Load data from the database
cursor.execute('''
    SELECT 
        ID,
        Electricity_and_Energy_Consumption,
        Transportation_and_Commuting,
        Diet_and_Food_Choices,
        Waste_Management,
        Estimated_Carbon_Footprint
    FROM carbon_footprint
''')
data = cursor.fetchall()

In [10]:
# Create a DataFrame from the data
df = pd.DataFrame(data, columns=['ID', 'Electricity_and_Energy_Consumption', 'Transportation_and_Commuting',
                                 'Diet_and_Food_Choices', 'Waste_Management', 'Estimated_Carbon_Footprint']).dropna(subset=["Estimated_Carbon_Footprint"])

df.index = df.ID
df.drop("ID", 1, inplace=True)
df.head()

C:\Users\HP 1040 G2\AppData\Local\Temp\ipykernel_5416\3246675397.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop("ID", 1, inplace=True)

,Electricity_and_Energy_Consumption,Transportation_and_Commuting,Diet_and_Food_Choices,Waste_Management,Estimated_Carbon_Footprint
ID,,,,,
3,1.612140,38.225615,9.135167,3.736147,22.640806
4,42.912679,47.101081,2.825139,3.135215,45.929555
5,78.710066,27.815757,5.431907,2.129475,15.309808
6,41.189569,49.383356,1.487894,2.272704,39.305578
7,93.941428,36.574404,6.592537,4.077227,25.578236

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 3 to 2002
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Electricity_and_Energy_Consumption  2000 non-null   float64
 1   Transportation_and_Commuting        2000 non-null   float64
 2   Diet_and_Food_Choices               2000 non-null   float64
 3   Waste_Management                    2000 non-null   float64
 4   Estimated_Carbon_Footprint          2000 non-null   float64
dtypes: float64(5)
memory usage: 93.8 KB

In [12]:
df.describe()

,Electricity_and_Energy_Consumption,Transportation_and_Commuting,Diet_and_Food_Choices,Waste_Management,Estimated_Carbon_Footprint
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,51.324946,25.574381,5.495201,2.490831,27.597181
std,28.498299,14.203512,2.542020,1.421681,13.150466
min,1.153719,1.003464,1.004135,0.101945,5.016311
25%,26.324265,13.070230,3.364535,1.281313,16.196065
50%,52.211200,25.523362,5.496451,2.451013,27.624989
75%,76.777485,38.015708,7.643774,3.706411,39.072779
max,99.933945,49.962579,9.993926,4.998487,49.929464

In [13]:
# Split the data into features (X) and target variable (y)
X = df.drop(columns=['Estimated_Carbon_Footprint'])
y = df['Estimated_Carbon_Footprint']

In [14]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
# Initialize and train a Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [16]:
# Make predictions on the testing set
y_pred = model.predict(X_test)

In [19]:
# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f'Mean Absolute Error (MAE): {mae:.2f}')
print(f'Mean Squared Error (MSE): {mse:.2f}')
print(f'Root Mean Squared Error (RMSE): {rmse:.2f}')

# Close the database connection
conn.close()

Mean Absolute Error (MAE): 11.70
Mean Squared Error (MSE): 179.97
Root Mean Squared Error (RMSE): 13.42

In [20]:
divmod(200, 12)

(16, 8)

In [21]:
2%3

2